<table border="1">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date Of Birth</th>
            <th>Email id</th>
            <th>Mobile Number</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody id="usersTable" *ngFor="let user of allUsers; index as i">
        <tr>
            <td>{{user.fname}}</td>
            <td>{{user.lname}}</td>
            <td>{{user.dob}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobile}}</td>
            <td><button (click)="editData(i)">Edit</button></td>
            <td><button (click)="deleteData(i)">Delete</button></td>
        </tr>
    </tbody>
</table>