label{
    width: 150px;
    border: 15px;
    float: left;
}

button{
    margin: 20px;
    height: 30px;
    width: 100px;
    background-color: rgb(54, 52, 52);
    color: white;
    border-radius: 5px;
}

input{
    background-color: rgb(214, 204, 204);
}